modules = ["nodejs-20", "web"]
run = "npm start"

[nix]
channel = "stable-25_05"
packages = ["supabase-cli"]

[deployment]
run = ["sh", "-c", "npm run serve"]

[[ports]]
localPort = 5173
externalPort = 80
exposeLocalhost = true
